@model Order
@{
    ViewData["Title"] = "AddOrder";
}
<div>
    <form asp-action="AddOrder" asp-controller="Home" method="POST" data-ajax="true" data-ajax-update="#success-message">
        <div style="display: inline-block">
            Сумма<br />
            <input asp-format="{0:N4}" asp-for="PriceSum" step="0.01"/>
            <span asp-validation-for="PriceSum"></span>
        </div>
        <div style="display: inline-block">
            Дата<br />
            <input type="date" asp-for="Date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Date"></span>
        </div>
        <input type="submit" value="Добавить" />

    </form>
    <div id="success-message">

    </div>
</div>

